*{
    margin: 0px;
    padding: 0px;
}

hr{
    border: none;
    border-top: 2px solid rgb(0, 0, 0);
}

p{
    text-indent: 1.2rem;
    text-align: left;
    font-size: 1.2rem;
    margin: 5px;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 15px 0px;
    height: 50%;
}

body{
    text-align: center;
    background-color: rgb(111, 73, 199);
    color: rgb(0, 0, 0);
    font-style: normal;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

button{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
}

details{
    padding: 5px;
    font-size: 1.2rem;
}

input{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
    width: 8rem;
}

footer{
    background-color: black;
    width: 100%;
    height: 45px;
    padding: 15px 0px;
    text-align: center;
}

.branco{
    color: white;
    text-decoration: none;
}

.branco:hover{
    transition: ease;
    transition-duration: 0.5s;
    padding: 0px 4px;
    border-radius: 4px;
}

.barra{
    color: white;
}

.informacao{
    border: 1px solid black;
    display: inline-block;
    margin: 4px;
}

.link{
    padding: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}    

.linkgithub{
    background-color: rgb(111, 73, 199);
    display: inline-flex;
    align-items: center;
    padding: 2px;
    border-radius: 6px;
    border: 1px solid rgb(150, 148, 148);
}

.linkgithub img{
    width: 35px;
    height: 35px;
    border-radius: 16px;
}

.tijucas{
    padding-bottom: 4px;
}
    
.tijucas iframe{
    width: 360px;
    height: 360px;
    border-radius: 16px;
}
    
.placa_solar img{
    width: 360px;
    height: 360px;
    border-radius: 16px;
}

.efeito_fotovoltaico{
    padding-bottom: 4px;
}

.efeito_fotovoltaico img{
    width: 360px;
    height: 240px;
    border-radius: 16px;
}

.componentes{
    padding-bottom: 4px;
}

.componentes img{
    width: 360px;
    height: 180px;
    border-radius: 16px;
}

.pergunta{
    border: 2px solid black;
    padding: 3px;
    display: inline-block;
    text-indent: 0px;
}

.resp{
    text-align: left;
    font-size: 1.2rem;
    margin: 5px;
    text-indent: 2px;
}

.lei_ohm{
    width: 275px;
    height: 70px;
}

.secao{
    display: block;
    font-size: 2rem;
    margin-top: 162px;
    margin-bottom: 162px ;
}

.ultimo{
    padding-bottom: 4px;
}

.videosyt{
    width: 350px;
    height: 197px;
    border-radius: 16px;
}

.quadrado{
    width: 360px;
    height: 360px;
    border-radius: 16px;
}

.retangular{
    width: 360px;
    height: 530px;
    border-radius: 16px;
}

.tensao{
    width: 360px;
    height: 290px;
    border-radius: 16px;
}

.grafico{
    width: 360px;
    height: 200px;
    border-radius: 16px;
}

#resposta{
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    text-align: center;
}
